*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background: url(../images/img-10.jpg) center center/cover no-repeat fixed;
  font: 16px/1.6 Arial, Helvetica, sans-serif;
}

.containder{
  width: 100%;
  padding: 20px;
}

#navbar{
  position: fixed;
  margin: 5px auto;
  padding: 15px;
  float: left;
  width: 30%;
  overflow: hidden;
  
}

#navbar #navbox{
  margin: 10px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
}

#navbar #navbox header{
  font-size: 25px;
  font-weight: 600;
}

#navbar #navbox ul{
  padding: 0;
  list-style: none;
}

#navbar #navbox ul li a.nav-link{
  text-decoration: none;
  color: black;
}

#navbar #navbox ul li{
  border-bottom: 1px solid #888;
  padding: 10px;
}

#main-doc{
  overflow: hidden;
  float: right;
  width: 70%;
  margin: 5px auto;
  padding: 15px;
  border-radius: 10px;
}

#main-doc .main-section{
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

#main-doc .main-section header{
  font-size: 30px;
  font-weight: 600;
}

#main-doc .main-section .code-box{
  padding: 20px;
  background-color: black;
  color: white;
  margin: 10px;
  font-size: 18px;
  overflow: auto;
  max-width: 720px;
}

#main-doc .main-section .code-box code{
  width: 60vw;
}

@media (max-width:1050px){

  #navbar,#main-doc{
    float: none;
    width: 100%;
  }

  #navbar{
    position: sticky;
  }

}